@import 'bootstrap/scss/bootstrap.scss';

@import 'common.scss';
@import 'custom.scss';
@import 'extra-small.scss';
@import 'small.scss';
@import 'medium.scss';
@import 'large.scss';
@import 'extra-large.scss';

//Examples
$react: #61dafb;

@mixin clr-react {
    color: $react;
}

span{
    @include clr-react;
}

span{
    &:hover{
        cursor: pointer;
    }
}

span{
    @extend .shadow-sm;
}
